
.tagList {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 1rem;
    height: fit-content;
}

@media screen and (max-width:768px) {
    .tagList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        row-gap: 1rem;
    }
}


.tagListItem {
    color: #555555;
    padding: .2em 1em;
    border: solid 1px #CCCCCC;
    border-radius: .95em;
    font-size: .8rem;
}
.tagListItem:hover {
    outline: 0.125rem solid currentColor;
    border: solid 1px #ffffff;
}

.active {
    background-color: #000;
    color: #fff;
    border: solid 1px #000;
  }