.blogList {
    margin-top: 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

@media screen and (max-width:1440px) {
    .blogList {
        margin-top: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1024px) {
    .blogList {
        grid-template-columns: repeat(1, 100%);
    }
}

.blogListItem {
    width: 100%;
    box-sizing: border-box;
    font-family: "Noto Sans JP", sans-serif;
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 100px auto;
    column-gap: 2rem;
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    border: solid 1px #CCCCCC;
    border-radius: 5px;
    height: auto;
    padding: 1rem;
    align-items: center;
    font-size: calc(1rem * 17 / 16);
    /* font-weight: 500; */
}

@media screen and (max-width:768px) {
    .blogListItem {
        padding: 4%;
        column-gap: 2%;
    }
}


.blogListItem:hover {
    outline: 0.125rem solid currentColor;
}


.blogListItemDate {
    grid-row: 2;
    grid-column: 1;
}

.blogListItemTitle {
    grid-row: 1;
    grid-column: 1/-1;
    font-weight: bold;
    justify-self: start;
    align-self: start;
}

.blogListItemTagWrapper {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-auto-flow: column;
    column-gap: 1rem;
    justify-content: end;
    width: fit-content;
}

@media screen and (max-width:768px) {
    .blogListItemTagWrapper {
        column-gap: 2%;
        box-sizing: border-box;
        justify-content: start;
    }
}

.blogListItemTag {
    font-size: .8rem;
    color: #555555;
    padding: .2em 1em;
    border: solid 1px #CCCCCC;
    border-radius: .95em;
}

@media screen and (max-width:768px) {
    .blogListItemTag {
        padding: .2em .8em;
        white-space: nowrap;
    }
}

.blogListItemArrow {
    grid-row: 2;
    grid-column: 3;
    justify-self: end;
}


.heading {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: bold;
}

.text {
    padding-top: 1rem;
}

.blogTitleContainer {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
    border-bottom: solid 1px #CCCCCC;
    display: grid;
    grid-template-columns: subgrid;
}

.blogTitleContainerInner {
    grid-column: 2;
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-columns: auto 1fr;
    place-items: center;
    justify-content: start;
    column-gap: 2rem;
}

.blogTitle {
    width: 100%;
    grid-row: 1;
    grid-column: 1/-1;
    display: grid;
    place-items: center;
    justify-content: start;
    font-size: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.blogTitleText {
    font-weight: 800;
}

.blogDate {
    grid-row: 2;
    grid-column: 1;
    justify-self: start;

}

.blogTag {
    grid-row: 2;
    grid-column: 2;
    justify-self: start;
    font-size: .8rem;
    color: #555555;
    padding: .2em 1em;
    border: solid 1px #CCCCCC;
    border-radius: .95em;
}