@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "NotoSansJP","Murecho", Arial, Helvetica, sans-serif; */
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Murecho", sans-serif;
  font-family: "IBM Plex Sans JP", sans-serif;
  font-family: "Jost", sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
