.TableOfContents {
  position: sticky;
  top: 4rem;
}

.TableOfContentsHeading {
  font-size: 2rem;
}

.TableOfContentsTitle {
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.TableOfContentsList {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.TableOfContentsList li a::before {
  content: "🔗";
  content: "●";
  margin-right: .5rem;
  color: #e5e7eb;
}



