.TableOfContentsHeading {
  font-size: 2rem;
}

.TableOfContentsList {
  margin-top: 3rem;
  display: grid;
  gap: 1rem;
  font-weight: bold;
  position: sticky;
  top: 4rem;
  /* border: solid 1px; */
}

.TableOfContentsList li a {
}
